fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic[email]
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
alembic
pdfplumber
pytesseract
pandas
python-dotenv
pytest
httpx
slowapi
email-validator
bcrypt==4.0.1
