@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply font-body bg-surface text-on-surface selection:bg-tertiary-fixed-dim selection:text-on-tertiary-fixed;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html.dark {
  color-scheme: dark;
}
